In [1]:
var1 = 10
var1

10

In [2]:
type(var1)

int

In [3]:
print(var1)

10

In [5]:
10+15

25

In [7]:
A=10
B=20
A+B
type(A+B)

int

In [8]:
A*B

200

In [10]:
B/A
type(B/A)

float

In [12]:
c=B/A
type(int(c))

int

In [16]:
11//5

2

In [17]:
11%5

1

In [18]:
5**2

25

In [20]:
pow(5,2)

25

In [21]:
abs(-25)

25

In [22]:
10.5*2

21.0

In [23]:
100.33/2

50.165

In [35]:
A=15
B=6
A+B

21

In [34]:
A=4
B=5
A*B

20

In [33]:
A=6
B=4
A-B

2

In [36]:
A=15
B=2
A/B
type(A/B)

float

In [28]:
A//B

7

In [29]:
A%B

1

In [30]:
pow(25,11)

2384185791015625

In [31]:
C=A/B
type(int(C))

int

In [39]:
abs(-145)

145

In [52]:
str1="""Hello, I am happy to see you"""
str1

'Hello, I am happy to see you'

In [53]:
str1.upper()

'HELLO, I AM HAPPY TO SEE YOU'

In [54]:
str1.lower()

'hello, i am happy to see you'

In [57]:
str1.replace("I am","he is")

'Hello, he is happy to see you'

In [58]:
str1.find("happy")

12